<div class="row">
  <div class="col">

  </div>
  <div class="col-6">
<!--    <button class="btn btn-danger"></button>-->
    <img [src]="findPictureURL()" style="width: 100px">
  </div>
  <div class="col">

  </div>
</div>

<div class="table-holder">
  <div class="title-holder">
    <!--        <h1 class="list-title" style="text-align: center">Assets</h1>-->
  </div>

  <table mat-table #table [dataSource]="this.heroStatArray" matSort class="mat-elevation-z8" style="width: 90%; margin-right: 5%; margin-left: 5%;" >



    <ng-container matColumnDef="account_id" style="width: 10%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>account_id</th>
      <td mat-cell *matCellDef="let element">{{ element.account_id }}</td>
    </ng-container>

    <ng-container matColumnDef="gesamtGames" style="width: 10%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >gesamtGames</th>
      <td mat-cell *matCellDef="let element">{{ element.gesamtGames }}</td>
    </ng-container>

    <ng-container matColumnDef="gesamtWins" style="width: 10%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >gesamtWins</th>
      <td mat-cell *matCellDef="let element">{{ element.gesamtWins }}</td>
    </ng-container>

    <ng-container matColumnDef="kill" style="width: 10%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>kill</th>
      <td mat-cell *matCellDef="let element">{{ element.kill }}</td>
    </ng-container>

    <ng-container matColumnDef="death" style="width: 10%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>death</th>
      <td mat-cell *matCellDef="let element">{{ element.death }}</td>
    </ng-container>

    <ng-container matColumnDef="assists" style="width: 10%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>assists</th>
      <td mat-cell *matCellDef="let element">{{ element.assists }}</td>
    </ng-container>

    <ng-container matColumnDef="actuallRating" style="width: 10%">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>actuallRating</th>
      <td mat-cell *matCellDef="let element">{{ element.actuallRating }}</td>
    </ng-container>


    <tr mat-header-row  *matHeaderRowDef="heroLeaderBoardTableColumns; sticky: true" style="background-color: #151f15"></tr>
    <tr mat-row *matRowDef="let row; columns: heroLeaderBoardTableColumns;"
    ></tr>
  </table>
</div>
