<mat-toolbar>
  <mat-toolbar-row>
    <span style="margin-right: 5%; margin-left: 5%" routerLink="/heroStats">Hero Stats</span>
    <span style="margin-right: 5%" routerLink="/leaderboard">Leaderboard</span>
    <span style="margin-right: 5%" routerLink="/teams">Teams</span>
    <span class="spacer"></span>
    <form class="example-form">
      <mat-form-field>
        <input type="text"
               placeholder="Player"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
